  .star-purchase h2 {
    text-align: center;
    background: linear-gradient(90deg, #e8a084 0%, #faece6 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  .star-purchase h1 {
    text-align: center;
    background: linear-gradient(90deg, #e8a084 0%, #faece6 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    margin-bottom: var(--spacing-small);
  }

  .star-purchase h1 .amorit-icon {
    background: none; /* Убираем фон */
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial; /* Устанавливаем стандартный цвет */
    margin-left: 4px
  }

  
  .star-purchase button {
    background: linear-gradient(118deg, #E8A084 0%, #FAECE6 100%);
    color: #4D352C;
    font-weight: 700;
}

  .amount-options {
    display: flex; /* Используем flex для расположения блоков */
    flex-direction: column; /* Блоки в колонку */
    align-items: center; /* Центрируем блоки */
    gap: 10px; /* Расстояние между блоками */
    margin-bottom: 20px; /* Отступ снизу */
  }
  
  .amount-option {
    padding: 10px;
    background-color: #333; /* Цвет фона для блоков */
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Ширина блоков на всю ширину контейнера */
    text-align: center; /* Центрируем текст */
  }
  
  .amount-option.active {
    background-color: #A084E8; /* Цвет фона для активного блока */
  }

  .purchase-section h3 {
    text-align: center;
  }