  .thank-you h1 {
    text-align: center;
    background: linear-gradient(90deg, #e8a084 0%, #faece6 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  .thank-you h2 {
    text-align: center;
    background: linear-gradient(90deg, #e8a084 0%, #faece6 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  .thank-you h3 {
    text-align: center;
  }
  
  .star-animation {
    font-size: 50px; /* Размер анимации */
  }
  
  .thank-you {
    background-image: url('../../../assets/images/thankyou-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .thank-you-icon {
    display: block;
    margin: 24px auto;
    width: 96px; /* Укажите нужный размер */
    height: 96px;
  }
  